

# === Database ===

# These variables are special, since they are consumed
# by both keystone and postgres docker image.
# Cannot be renamed if you use postgres in docker.
# See: https://hub.docker.com/_/postgres

POSTGRES_DB=im_app

POSTGRES_USER=im_app
POSTGRES_PASSWORD=im_app
